@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'shared/variables';

@import "~bootstrap/scss/bootstrap";

body {
  font-family: $font-family, sans-serif;
}

.alert {
  padding: 10px;
  color: white;
  text-align: center;
  margin: 0;
  border: none;
  border-radius: 0;

  &.alert-success {
    background-color: green;
  }
  
  &.alert-error {
    background-color: red;
  }
  
  &.alert-info {
    background-color: blue;
  }
}

.vich-image {
  .form-check {
    @extend .mt-3;
  }

  img {
    @extend .mb-2;
    @extend .rounded;
    @extend .shadow;
    @extend .img-thumbnail;
  }
}

.pin img {
  transition: transform 0.3s ease-out;

  &:hover {
    transform: scale(1.075) ;
  }
}